@charset "utf-8";
/* CSS Document */
/* Colors */
.huma-amber,.huma-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.huma-aqua,.huma-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.huma-blue,.huma-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.huma-light-blue,.huma-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.huma-brown,.huma-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.huma-cyan,.huma-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.huma-blue-grey,.huma-hover-blue-grey:hover,.huma-blue-gray,.huma-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.huma-green,.huma-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.huma-light-green,.huma-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.huma-indigo,.huma-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.huma-khaki,.huma-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.huma-lime,.huma-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.huma-orange,.huma-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.huma-deep-orange,.huma-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.huma-pink,.huma-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.huma-purple,.huma-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.huma-deep-purple,.huma-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.huma-red,.huma-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.huma-sand,.huma-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.huma-teal,.huma-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.huma-yellow,.huma-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.huma-white,.huma-hover-white:hover{color:#000!important;background-color:#fff!important}
.huma-black,.huma-hover-black:hover{color:#fff!important;background-color:#000!important}
.huma-grey,.huma-hover-grey:hover,.huma-gray,.huma-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.huma-light-grey,.huma-hover-light-grey:hover,.huma-light-gray,.huma-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.huma-dark-grey,.huma-hover-dark-grey:hover,.huma-dark-gray,.huma-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.huma-pale-red,.huma-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.huma-pale-green,.huma-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.huma-cyo-green,.huma-hover-cyo-green:hover{color:#fff!important;background-color:#308c91!important}


.huma-pale-yellow,.huma-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.huma-pale-blue,.huma-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.huma-text-amber,.huma-hover-text-amber:hover{color:#ffc107!important}
.huma-text-aqua,.huma-hover-text-aqua:hover{color:#00ffff!important}
.huma-text-blue,.huma-hover-text-blue:hover{color:#2196F3!important}
.huma-text-light-blue,.huma-hover-text-light-blue:hover{color:#87CEEB!important}
.huma-text-brown,.huma-hover-text-brown:hover{color:#795548!important}
.huma-text-cyan,.huma-hover-text-cyan:hover{color:#00bcd4!important}
.huma-text-blue-grey,.huma-hover-text-blue-grey:hover,.huma-text-blue-gray,.huma-hover-text-blue-gray:hover{color:#607d8b!important}
.huma-text-green,.huma-hover-text-green:hover{color:#4CAF50!important}
.huma-text-cyo-green,.huma-hover-text-cyo-green:hover{color:#308c91!important}
.huma-text-light-green,.huma-hover-text-light-green:hover{color:#8bc34a!important}
.huma-text-indigo,.huma-hover-text-indigo:hover{color:#3f51b5!important}
.huma-text-khaki,.huma-hover-text-khaki:hover{color:#b4aa50!important}
.huma-text-lime,.huma-hover-text-lime:hover{color:#cddc39!important}
.huma-text-orange,.huma-hover-text-orange:hover{color:#ff9800!important}
.huma-text-deep-orange,.huma-hover-text-deep-orange:hover{color:#ff5722!important}
.huma-text-pink,.huma-hover-text-pink:hover{color:#e91e63!important}
.huma-text-purple,.huma-hover-text-purple:hover{color:#9c27b0!important}
.huma-text-deep-purple,.huma-hover-text-deep-purple:hover{color:#673ab7!important}
.huma-text-red,.huma-hover-text-red:hover{color:#f44336!important}
.huma-text-sand,.huma-hover-text-sand:hover{color:#fdf5e6!important}
.huma-text-teal,.huma-hover-text-teal:hover{color:#009688!important}
.huma-text-yellow,.huma-hover-text-yellow:hover{color:#d2be0e!important}
.huma-text-white,.huma-hover-text-white:hover{color:#fff!important}
.huma-text-black,.huma-hover-text-black:hover{color:#000!important}
.huma-text-grey,.huma-hover-text-grey:hover,.huma-text-gray,.huma-hover-text-gray:hover{color:#757575!important}
.huma-text-light-grey,.huma-hover-text-light-grey:hover,.huma-text-light-gray,.huma-hover-text-light-gray:hover{color:#f1f1f1!important}
.huma-text-dark-grey,.huma-hover-text-dark-grey:hover,.huma-text-dark-gray,.huma-hover-text-dark-gray:hover{color:#3a3a3a!important}
.huma-border-amber,.huma-hover-border-amber:hover{border-color:#ffc107!important}
.huma-border-aqua,.huma-hover-border-aqua:hover{border-color:#00ffff!important}
.huma-border-blue,.huma-hover-border-blue:hover{border-color:#2196F3!important}
.huma-border-light-blue,.huma-hover-border-light-blue:hover{border-color:#87CEEB!important}
.huma-border-brown,.huma-hover-border-brown:hover{border-color:#795548!important}
.huma-border-cyan,.huma-hover-border-cyan:hover{border-color:#00bcd4!important}
.huma-border-blue-grey,.huma-hover-border-blue-grey:hover,.huma-border-blue-gray,.huma-hover-border-blue-gray:hover{border-color:#607d8b!important}
.huma-border-green,.huma-hover-border-green:hover{border-color:#4CAF50!important}
.huma-border-light-green,.huma-hover-border-light-green:hover{border-color:#8bc34a!important}
.huma-border-indigo,.huma-hover-border-indigo:hover{border-color:#3f51b5!important}
.huma-border-khaki,.huma-hover-border-khaki:hover{border-color:#f0e68c!important}
.huma-border-lime,.huma-hover-border-lime:hover{border-color:#cddc39!important}
.huma-border-orange,.huma-hover-border-orange:hover{border-color:#ff9800!important}
.huma-border-deep-orange,.huma-hover-border-deep-orange:hover{border-color:#ff5722!important}
.huma-border-pink,.huma-hover-border-pink:hover{border-color:#e91e63!important}
.huma-border-purple,.huma-hover-border-purple:hover{border-color:#9c27b0!important}
.huma-border-deep-purple,.huma-hover-border-deep-purple:hover{border-color:#673ab7!important}
.huma-border-red,.huma-hover-border-red:hover{border-color:#f44336!important}
.huma-border-sand,.huma-hover-border-sand:hover{border-color:#fdf5e6!important}
.huma-border-teal,.huma-hover-border-teal:hover{border-color:#009688!important}
.huma-border-yellow,.huma-hover-border-yellow:hover{border-color:#ffeb3b!important}
.huma-border-white,.huma-hover-border-white:hover{border-color:#fff!important}
.huma-border-black,.huma-hover-border-black:hover{border-color:#000!important}
.huma-border-grey,.huma-hover-border-grey:hover,.huma-border-gray,.huma-hover-border-gray:hover{border-color:#9e9e9e!important}
.huma-border-light-grey,.huma-hover-border-light-grey:hover,.huma-border-light-gray,.huma-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.huma-border-dark-grey,.huma-hover-border-dark-grey:hover,.huma-border-dark-gray,.huma-hover-border-dark-gray:hover{border-color:#616161!important}
.huma-border-pale-red,.huma-hover-border-pale-red:hover{border-color:#ffe7e7!important}.huma-border-pale-green,.huma-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.huma-border-pale-yellow,.huma-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.huma-border-pale-blue,.huma-hover-border-pale-blue:hover{border-color:#e7ffff!important}

